*,
::before,
::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scrollbar-gutter: stable;
}

html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
  overflow-y: hidden;
}

a:where([class]) {
  display: inline-flex;
}

button,
label {
  cursor: pointer;
}

:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
li {
  list-style: none;
}

:root {
  --main-font: "Inter", sans-serif;
  --button-color: #1975FF;
  --input-border-color: #CED2DA;
  --text-color: #141C24;
  --placeholder-color: #637083;
  --background-color: #FFFFFF;
  --resend-timer-color-active: #97A1AF;
  --button-text-color: #FFFFFF;
  --button-radius: 16px;
  --input-radius: 8px;
  --p-size: clamp(16px, 1.0417vw + 1px, 21px);
  --h2-size: clamp(24px, 1.4583vw + 3px, 31px);
  --resend-timer-font-size: 14px;
  --resend-timer-font-size-inactive: 16px;
  --animation-duration: 0.3s;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--main-font), sans-serif;
  font-size: var(--p-size);
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 24px;
  font-weight: 400;
}

.container {
  max-width: 100%;
  padding-left: 240px;
  padding-right: 240px;
  margin: 96px auto 0 auto;
}

@font-face {
  font-family: "Inter";
  src: url(".././assets/fonts/Inter_18pt-Regular.woff2") format("WOFF2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(".././assets/fonts/Inter_18pt-SemiBold.woff2") format("WOFF2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(".././assets/fonts/Inter_24pt-Bold.woff2") format("WOFF2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
h2 {
  font-size: var(--h2-size);
  font-weight: 700;
  line-height: 32px;
}

p {
  font-size: var(--p-size);
}

span {
  font-size: var(--resend-timer-font-size);
}

/*# sourceMappingURL=styles.css.map */
